@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");


/* other css file imports */
@import url("./sections/header.css");
@import url("./sections/hero.css");
@import url("./sections/mission.css");
@import url("./sections/popular.css");
@import url("./sections/trending.css");
@import url("./sections/offers.css");
@import url("./sections/footer.css");



:root{
    --playfair-display: "Playfair Display", serif;
    --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

    --primary-color: #b1454a;
    --secondary-color: #121212;
  
    --black-200: #020202;
    --black-300: #333333;
    --black-400: #1f1e31;
    --black-500: #555555;
    --gray-100: #888888;
    
    --color-white: #fff;
    --color-creamson: #fff0de;

    /* animation timings */
    --animation-time1: 700ms;
    --animation-time2: 1200ms;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--color-creamson);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.hidden-left{
    opacity: 0;
    transition: opacity var(--animation-time2) ease-in-out;
}
.hidden-right{
    opacity: 0;
    transition: opacity var(--animation-time2) ease-in-out;
}
.hidden-bottom-up{
    opacity: 0;
    transition: opacity var(--animation-time2) ease-in-out;
}
.show{
    opacity: 1;
    transition: opacity var(--animation-time2) ease-in-out;
}

/* top bottom animation */

.top{
    animation-name: top-down;
    animation-duration: var(--animation-time1);
    transition-property: transform;
    transition-timing-function: ease-in;
}
@keyframes top-down {
    0%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(0px);
    }
}


.bottom-up{
    animation-name: bottom;
    animation-duration: var(--animation-time2);
    transition-property: transform;
    transition-timing-function: ease-in-out;
}
@keyframes bottom {
    0%{
        transform: translateY(200px);
    }
    100%{
        transform: translateY(0px);
    }
}


.right-left{
    animation-name: right;
    animation-duration: var(--animation-time2);
    transition-property: transform;
    transition-timing-function: ease-in-out;
}
@keyframes right {
    0%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(0px);
    }
}

.left-right{
    animation-name: left;
    animation-duration: var(--animation-time2);
    transition-property: transform;
    transition-timing-function: ease-in-out;
}
@keyframes left {
    0%{
        transform: translateX(-200px);
    }
    100%{
        transform: translateX(0px);
    }
}

