.offers{
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    padding: 64px 250px;
    text-align: center;
    background-image: url("../../assets/subscribe_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}
.offers__overlay{   
    position: absolute;
    inset: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    z-index: -1;
}
.offers-h1{
    font-size: 80px;
    font-family: var(--playfair-display);

}
.offers-p{
    font-size: 20px;
    font-family: var(--plus-jakarta-sans);
    padding: 15px 0px;
    font-weight: 300;
    color: #fffc;
}
.offers__button{
    display: flex;
    border: 2px solid #fffc;
    padding: 8px 20px;
    border-radius: 28px;
    margin-top: 10px;
}
.offers-input{
    border: 0;
    outline: 0;
    font-size: 16px;
    padding: 7px 12px;
    background-color: var(--primary-color);
    font-family: var(--plus-jakarta-sans);
    color: #fffc;
}

.offers-button:active{
    color: #fffc;
    background-color: var(--primary-color);
}
.offers-button{
    background-color: var(--black-400);
    color: white;
    font-size: 20px;
    padding: 15px 40px;
    border: 0;
    border-radius: 32px;
    outline: 0;
    cursor: pointer;
    font-family: var(--plus-jakarta-sans);
}

/* responsive  */

@media screen and (max-width: 1024px) {
    .offers{
        padding: 40px 60px;
    }

}

@media screen and (max-width: 620px) {
    .offers__button{
        border: 0;
        flex-direction: column;
        gap: 20px;
    }   
    .offers__button input{
        width: 400px;
        border: 1px solid #fffc;
        border-radius: 18px;
        padding: 12px 18px;
        font-family: var(--plus-jakarta-sans);
    }
    .offers-button{
        font-size: 18px;
    }
}

@media screen and (max-width: 425px) {
    .offers__button input{
        width: 330px;
    }
}